@charset "UTF-8";

body{
    background-color: #84e1ad;
}

.link{
    text-align:left;
    text-decoration: none;
}

header{
    background-image: linear-gradient(to bottom, #37c777, #2faa66, #278851, #1d673d, #1a5c38);
    margin: auto;
    border: 20px;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif
    
    }
    h1{
        text-align: center;
    }

        main{
            width: 800px;
            margin: auto;
            padding: 10px;
            background-color: white;
            color: black;
            border-radius: 10px;
        }
  
        .subtitulo{
            padding: 5px;
            margin: 0px;
            background-color: #2fa866;
            color: white;
        }

       article{
        background-color: #84e1ad;
       }

       footer{
        margin: 0px;
        border-radius: 3px;
    
        text-align: center;
        color: white;
        background-color: rgb(78, 19, 19);
       }

       a:hover{
        color: yellow;
       }
       a:active{
        color: red;
       }
